<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v2.0.50727"/></startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll"/>
      <dependentAssembly>
        <assemblyIdentity name="SlimDX" publicKeyToken="53d0e4ef1f1579f5" culture="neutral"/>
        <codeBase version="4.0.10.43" href="dll\SlimDXc_net20x86_Jun2010.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
